# 3.1 Preprocessing
Builds upon 3.0 Preprocessing by implementing updated code, and adding a preprocessor for a LLC KMeans Model

In [26]:
import pandas as pd

import importlib
import sys

# setting path
sys.path.append('..')
# importing
from src.features import preprocessors
from src.features import build_features
importlib.reload(preprocessors);
importlib.reload(build_features);

In [21]:
input_filepath = '../data/interim'
output_filepath = '../data/processed'

In [10]:
all_data, high_school = build_features.load_interim_data(input_filepath)

In [11]:
all_data.head()

,district_id,est_child_poverty,est_total_child,est_total_pop,year,child_pov_ratio,child_adult_ratio,county,instruction_total,support_total,...,pct_amind,pct_asian,pct_black,pct_hisp,pct_white,pct_pi,pct_2ormore,pct_fr,district_name,school
0,880.0,22978.0,85901.0,604414.0,2010,0.267494,0.165668,DENVER,438251412.0,369798031.0,...,0.009326,0.029016,0.009845,0.916580,0.031606,0.000518,0.003109,0.9300,DENVER COUNTY 1,ABRAHAM LINCOLN HIGH SCHOOL
1,880.0,21750.0,88725.0,619968.0,2011,0.245139,0.167014,DENVER,445458597.0,384559117.0,...,0.009326,0.029016,0.009845,0.916580,0.031606,0.000518,0.003109,0.9300,DENVER COUNTY 1,ABRAHAM LINCOLN HIGH SCHOOL
2,880.0,26358.0,90920.0,634265.0,2012,0.289903,0.167334,DENVER,474517651.0,382873858.0,...,0.007357,0.026800,0.009984,0.913295,0.037835,0.001051,0.003678,0.9296,DENVER COUNTY 1,ABRAHAM LINCOLN HIGH SCHOOL
3,880.0,22978.0,85901.0,604414.0,2010,0.267494,0.165668,DENVER,438251412.0,369798031.0,...,0.015015,0.015015,0.270270,0.351351,0.348348,0.000000,0.000000,1.0000,DENVER COUNTY 1,RIDGE VIEW ACADEMY CHARTER SCHOOL
4,880.0,21750.0,88725.0,619968.0,2011,0.245139,0.167014,DENVER,445458597.0,384559117.0,...,0.015015,0.015015,0.270270,0.351351,0.348348,0.000000,0.000000,1.0000,DENVER COUNTY 1,RIDGE VIEW ACADEMY CHARTER SCHOOL

In [12]:
high_school.head()

,district_id,school_id,eng_yn,math_yn,read_yn,sci_yn,year,pct_remediation,est_child_poverty,est_total_child,...,pct_amind,pct_asian,pct_black,pct_hisp,pct_white,pct_pi,pct_2ormore,pct_fr,district_name,school
0,10,309,0.0,0.0,0.0,0.0,2010,NaN,1069.0,6160.0,...,0.003215,0.032154,0.012862,0.710611,0.234727,0.000000,0.006431,0.733,MAPLETON 1,SKYVIEW ACADEMY HIGH SCHOOL
1,20,15,1.0,0.0,0.0,0.0,2010,NaN,4446.0,41735.0,...,0.003063,0.025268,0.006891,0.250383,0.706738,0.001531,0.006126,0.155,ADAMS 12 FIVE STAR,ACADEMY OF CHARTER SCHOOLS
2,20,4108,1.0,0.0,0.0,0.0,2010,0.386667,4446.0,41735.0,...,0.001103,0.008274,0.002758,0.241589,0.745174,0.000000,0.001103,0.099,ADAMS 12 FIVE STAR,HORIZON HIGH SCHOOL
3,20,5043,1.0,0.0,0.0,0.0,2010,0.235060,4446.0,41735.0,...,0.003460,0.056846,0.010875,0.156698,0.767672,0.000494,0.003955,0.152,ADAMS 12 FIVE STAR,LEGACY HIGH SCHOOL
4,20,5816,1.0,0.0,0.0,0.0,2010,0.433566,4446.0,41735.0,...,0.001703,0.010783,0.010216,0.569240,0.403519,0.000568,0.003973,0.379,ADAMS 12 FIVE STAR,THORNTON HIGH SCHOOL

## KMeans Model

In [27]:
processed_all, processed_high = build_features.build_kmeans(output_filepath, all_data, high_school)

In [28]:
processed_all.head()

,school_id,year,pct_amind,pct_asian,pct_black,pct_hisp,pct_white,pct_2ormore,pct_fr,achievement_dir,...,support_per_pupil,community_per_pupil,other_per_pupil,pct_amind,pct_asian,pct_black,pct_hisp,pct_white,pct_2ormore,pct_fr
0,10.0,2010.0,0.009326,0.029016,0.009845,0.916580,0.031606,0.003109,0.9300,1.0,...,0.008407,0.000423,0.009105,1.542857e-08,4.800000e-08,1.628572e-08,1.516286e-06,5.228572e-08,5.142857e-09,0.000002
1,10.0,2011.0,0.009326,0.029016,0.009845,0.916580,0.031606,0.003109,0.9300,1.0,...,0.008269,0.000518,0.008087,1.504170e-08,4.679640e-08,1.587735e-08,1.478265e-06,5.097465e-08,5.013899e-09,0.000001
2,10.0,2012.0,0.007357,0.026800,0.009984,0.913295,0.037835,0.003678,0.9296,1.0,...,0.007812,0.000542,0.015475,1.159666e-08,4.224496e-08,1.573832e-08,1.439642e-06,5.963995e-08,5.798329e-09,0.000001
3,40.0,2010.0,0.015015,0.015015,0.270270,0.351351,0.348348,0.000000,1.0000,0.0,...,0.008407,0.000423,0.009105,2.483913e-08,2.483913e-08,4.471043e-07,5.812355e-07,5.762677e-07,0.000000e+00,0.000002
4,40.0,2011.0,0.015015,0.015015,0.270270,0.351351,0.348348,0.000000,1.0000,0.0,...,0.008269,0.000518,0.008087,2.421628e-08,2.421628e-08,4.358931e-07,5.666610e-07,5.618177e-07,0.000000e+00,0.000002

In [29]:
processed_high.head()

,school_id,year,pct_amind,pct_asian,pct_black,pct_hisp,pct_white,pct_2ormore,pct_fr,achievement_dir,...,other_per_pupil,pct_amind,pct_asian,pct_black,pct_hisp,pct_white,pct_2ormore,pct_fr,pct_remediation,graduation_rate
0,309.0,2010.0,0.003215,0.032154,0.012862,0.710611,0.234727,0.006431,0.733,1.0,...,0.024333,1.028156e-07,1.028156e-06,4.112625e-07,2.272225e-05,0.000008,2.056312e-07,2.343816e-05,0.000010,0.001982
1,15.0,2010.0,0.003063,0.025268,0.006891,0.250383,0.706738,0.006126,0.155,1.0,...,0.009896,1.452304e-08,1.198151e-07,3.267684e-08,1.187259e-06,0.000003,2.904608e-08,7.349748e-07,0.000002,0.000372
2,4108.0,2010.0,0.001103,0.008274,0.002758,0.241589,0.745174,0.001103,0.099,0.0,...,0.009896,5.230859e-09,3.923144e-08,1.307715e-08,1.145558e-06,0.000004,5.230859e-09,4.694355e-07,0.000002,0.000404
3,5043.0,2010.0,0.003460,0.056846,0.010875,0.156698,0.767672,0.003955,0.152,1.0,...,0.009896,1.640752e-08,2.695521e-07,5.156649e-08,7.430262e-07,0.000004,1.875145e-08,7.207495e-07,0.000001,0.000411
4,5816.0,2010.0,0.001703,0.010783,0.010216,0.569240,0.403519,0.003973,0.379,0.0,...,0.009896,8.073395e-09,5.113149e-08,4.844036e-08,2.699205e-06,0.000002,1.883792e-08,1.797132e-06,0.000002,0.000332